.td-page-meta__view {
    display: none !important;
}

.td-page-meta__edit {
    display: none !important;
}

.td-page-meta__child {
    display: none !important;
}

.td-page-meta__issue {
    display: none !important;
}

.td-page-meta__project-issue {
    display: none !important;
}